:root{
  --primary-color: rgb(11, 208, 198);
  --btn-color: rgb(6, 212, 160);
  --card-color: rgba(68, 233, 192, 0.818);

}

*{
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

html, body{
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
