.footer{
    margin-top: 100px;
    width: 100%;
    margin-bottom: auto;
    background: var(--primary-color);
    height: 100px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.footer .connect{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer .connect span:first-child{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
}

.footer .connect span:last-child{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .connect .icons{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer .connect .icons:hover{
    color: white;
    transform: scale(1.2);
}

.footer .imprint{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .imprint .link{
    text-decoration: none;
    color: white;
    font-size: 60px;
    font-style: italic;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer .imprint span{
    width: 100%;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 18px;
}

.footer .contact{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent;
}

.footer .contact span{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-left: 70px;
    margin-bottom: 10px;
}

.footer .footerLogo{
    width: 100px;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        height: auto;
    }
}